

<link rel="stylesheet" href="~/css/Index.css" />

@model LoginModel

<div class="HomeContainer">
    <div class="text-center h-auto w-auto p-3 rounded-2" style="margin:0 auto; background-color:white;box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px">
        <form method="post" asp-controller="Login" asp-action="Index" class="d-flex flex-column p-4 ">
            <div class="Admin">
                <h2>Admin Log In</h2>
                <p>Log in with your registered account.</p>
            </div>

            <div class="inputBox mt-3 d-flex align-items-center flex-row  gap-1">
                <i class="bi bi-envelope-fill"></i><input type="email" placeholder="Email" asp-for="Email" class="w-100 form-control border-0" />
            </div>
            <span asp-validation-for="Email" class="text-danger align-self-start"></span>

 
            <div class="inputBox mt-3 d-flex align-items-center flex-row gap-1">
                <i class="bi bi-key-fill"></i><input type="password" placeholder="Password" asp-for="Password" class="w-100 form-control border-0" />

            </div>
            <span asp-validation-for="Password" class="text-danger align-self-start"></span>
            <button class="button w-100 form-control mt-3">Log In</button>
            <p class="mt-3">Don't have an account? <a asp-controller="Registration" asp-action="SignUp">Sign Up</a></p>

        </form>
    </div>
</div>

