
.HomeContainer {

    background-image: url(../lib/background.png);
    box-shadow: inset 0 0 0 2000px rgba(239, 243, 243, .5);
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom:-20px !important;
}

.Admin{
    text-align:left;
    position:relative;
    top:20px;

}
.Admin h2 {
        color: #4f77a1;
}


.button {
    border-radius: 20px;
    background-color: #5278a3;
    color:white;
}
button{
    border:none;
    outline:none;
}

.inputBox {
    padding:0 13px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}