<link rel="stylesheet" href="~/css/Dashboard.css" />
@model SignUpModel
<div class="d-flex justify-content-center align-items-center">
</div>
<div class="Dashboard_Container w-auto h-auto p-4 d-flex flex-column border-1">
    <p>Welcome, @Model.FirstName❤️</p>
    
   

<div class="d-flex flex-row justify-content-center align-items-center gap-2">
<a asp-controller="Account" asp-action="Accounts" class="btn btn-primary align-self-center p-2  mt-3">View All Account</a>
        <div>
        <a class="btn btn-secondary align-self-center p-2  mt-3" data-bs-toggle="modal" data-bs-target="#exampleModalCenter">My Account</a>
        <partial name="_MyAccount" />
        </div>
<a asp-controller="Login" asp-action="LogOut" class="btn btn-danger align-self-center p-2  mt-3">Log Out</a>
</>
</div>

 


